<ng-container *ngIf="(loading$ | async) as loadingData; else loadingTemplate">
    <ng-container
        *ngIf="!loadingData.loading"
        [ngTemplateOutlet]="toolbarTemplate">
    </ng-container>
    <ng-container 
        *ngIf="loadingData.loading"
        [ngTemplateOutlet]="loadingTemplate"
        [ngTemplateOutletContext]="{text: loadingData.text}">
    </ng-container>
</ng-container>
<ng-template #loadingTemplate let-text="text">
    <div>
        <span>{{ text ?? "Attendere..." }}</span>
        <mat-spinner></mat-spinner>    
    </div>
</ng-template>
<ng-template #toolbarTemplate>
    <button (click)="openDocs()">DOCS</button>
</ng-template>
